:root {   
    --button-blue: #3198aa;
    --button-blue-focused: #274df5;

    --button-brown: #d68a16;
    --button-brown-focused: brown;

    --button-green: #0cdc16;
    --button-green-focused: green;

    --background-color: silver;

    --form-color: rgba(204, 255, 255, 1);
    /*old --form-border-color: rgba(204, 255, 255 0.9);*/
    /*input:focus background-color: rgba(204, 255, 255, 0.9);*/
    --input-focused-background-color: #ccffffe6;
    /*old --form-border-color: #64ffffe6;*/
    --form-border-color: #0388fc;
    --form-focused-color: #274df5;
    --container-color: #F0F0F0;
    --container-outline-color: #DCDCDC;
}

.image-text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*
.save-position-changes 
{
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
}
  */

.empty-list-container
{
  margin-left: auto;
  margin-right: auto;
}

.menu-item-icon
{
  cursor: pointer; 
  z-index: 20;
  top: 2vh;
  position: relative;
  height: 14px;
  width: 14px;
  font-size: 14px;
}

.search-bar
{
  position: relative;
  margin-bottom: 3.7vh;
  height: 8vh;
  border-radius: 4vh;
  font-size: 5vh;
}

.menu-content-container
{
  position: absolute;
  top: calc(22vh + 4vw);
  height: calc(66vh - 4vw);
  width: 82vw;
  left: 9vw;
}

.tree-menu-header
{
  left: 0vw;
  text-align: center;
  font-size: 12.5vh;
  height: 16vh;
  position: relative;
  width: calc(100vw - 32vh);
}

/*
.title {
  text-align: center;
  width: 100%;
  font-size: 10vh;
  font-family: 'Courier, monospace';
  height: 10vh;
  max-height: 44vh;
  border: none;
  color: rgb(49, 152, 170);
  background-color: var(--container-color);
}

.title:hover {
  border: 5px solid var(--input-focused-background-color);
}

.title:focus {
  background-color: var(--input-focused-background-color);
  color: var(--form-focused-color) !important;
  border-color: var(--form-focused-color);
}

.title-container {
  width: calc(40vw - 37vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.tree-title-outer
{
  top: 2%;
  width: 92%;
  left:4%;
  position: relative;
  display: flex;
  height: 48%;
  margin-bottom: 7.5%;
}

.header-container
{
  /*height: 4vw;*/
  height: 3.2rem;
  width: 100%;
  /*font-size: 2vw;*/
  font-size: 1.55rem;
  color: white;
  background-color: black;
  position: fixed;
  z-index: 100;
}

.header-creator
{
  height: 100%;
  width: 100%;
  font-size: 2.2rem;
}

.header-middle-text
{
  /*font-size: 1.2vw;*/
  font-size: 1.1rem;
  width: 98%;
  left: 1%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 33.5rem) {
  .header-container {
    display: none;
  }
}

.empty-list-message
{
  margin-left: auto;
  margin-right: auto;
  font-size: 5vh;
  color: #0cdc16;  
}

.tree-title-container
{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-title
{
  text-align: center;
  width: 100%;
  /*font-size: 10vh;*/
  font-family: 'Courier, monospace';
  height: 12%;
  max-height: 100%;
  /*max-height: 33vh;*/
  border: none;
  color: rgb(49, 152, 170);
  background-color: var(--container-color);
}

.tree-title:hover {
  border: 5px solid var(--input-focused-background-color);
}

.tree-title:focus {
  background-color: var(--input-focused-background-color);
  color: var(--form-focused-color) !important;
  border-color: var(--form-focused-color);
}

.tree-title-required-container
{
    font-size: 3vh;
    width: calc(38vw - 33vh);
}

.tree-title-required {
    text-align: center;
    width: 100%;
    /*font-size: 10vh;*/
    font-family: 'Courier, monospace';
    height: 12%;
    max-height: 100%;
    color: rgb(49, 152, 170);
    background-color: var(--container-color);
    border: 4px solid red;
    
}

.tree-title-required:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
}

.tree-description-container
{
  /*
  height: 25.225vh;
  max-height: 25.225vh;
  */
  height: 35.9%;
  max-height: 35.9%;
  width: 92%; 
  position: relative;
  left: 4%;
}

.tree-description {

  width: 100%;
  height: 100%;
  max-height: 100%;
  font-family: 'Courier, monospace';
  /*font-size: 4vh;*/
  border: none;
  color: var(--form-border-color);
  border-radius: 2vh;
  background-color: var(--container-color);
}

.tree-description:hover
{
  border: 5px solid var(--input-focused-background-color);
}

.tree-description:focus
{
  background-color: var(--input-focused-background-color);
  color: var(--form-focused-color) !important;
  border-color: var(--form-focused-color);
}

.dialogContent {
    width: 45vw;
    height: 90vh;
}

.button-save
{
    color: var(--button-blue);
}

.button-save:enabled:hover
{
    background-color: var(--button-blue-focused);
}

.button-create
{
    color: var(--button-green);
}

.button-create:enabled:hover
{
    background-color: var(--button-green-focused);
}

.button-root
{
    color: var(--button-brown);
}

.button-root:enabled:hover
{
    background-color: var(--button-brown-focused);
}

.diagram-header-icon
{
  font-size: 3.2rem;
}

.button-header
{
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    background-color: var(--background-color);
    border: none;
    outline: none;
}

.button-header:enabled:hover
{
    color: var(--background-color);
    border: none;
    outline: none;
}

button:disabled 
{
    background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);

}

.button-header:focus
{
    outline: none;
    border: none;
}

.button-create:focus
{
    outline: none;
    border: none;
}

.button-save:focus
{
    outline: none;
    border: none;
}

.button-list-empty
{   
    padding: 0 0 0 0; 
    background-color: lightGrey;
    color: #0cdc16;
    outline: none;
    border: none;
}

.button-list-empty:hover
{
    outline: none;
    border: none;
}

.button-list-empty:focus
{
    outline: none;
    border: none;
}

.button-root:focus
{
    outline: none;
    border: none;
}

button:hover
{
    outline: none;
    border: none;
}

button:focus{
    outline: none;
    border: none;
}

.data-view-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding: 0; /* ADDED */
}


.save-icon
{
    /*color: var(--button-blue); */
    float: left;

}

.treenode-container
{
  background-color: #F0F0F0;
  z-index: 4;
  position: absolute;
  display: table;
  border: 2px solid red;
}

.treenode-container:hover 
{
    -webkit-box-shadow: 0 0 40px orange;
    box-shadow: 0 0 40px orange;
}

.line 
{
    z-index: -1;
}

.save-icon:hover
{
    /*
    background-color: var(--button-blue-focused);
    color: lightgrey;
    */
}

.tooltip {
    position: relative;
    display: inline-block;
    border: none
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 300;
  }

  .tooltip .tooltip-bottom
  {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 300;

    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltip-left
  {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 300;

    top: -5px;
    right: 105%;
  }

  .tooltip .tooltip-right
  {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 300;

    top: -5px;
  left: 105%;
  }

  .tooltip .tooltip-top
  {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 300;

    bottom: 100%;
  left: 50%;
  margin-left: -60px;
  }
  
  .tooltip:enabled:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip:enabled:hover .tooltip-left {
    visibility: visible;
  }

  .tooltip:enabled:hover .tooltip-right {
    visibility: visible;
  }

  .tooltip:enabled:hover .tooltip-top {
    visibility: visible;
  }

  .tooltip:enabled:hover .tooltip-bottom {
    visibility: visible;
  }

  .tooltip-top-manual-show
  {
    visibility: visible;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: abso;
    z-index: 300;

    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip-top-manual-hide 
  {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    width: 200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 300;

    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
