:root {
    --form-color: rgba(204, 255, 255, 1);
    /*old --form-border-color: rgba(204, 255, 255 0.9);*/
    /*input:focus background-color: rgba(204, 255, 255, 0.9);*/
    --input-focused-background-color: #ccffffe6;
    /*old --form-border-color: #64ffffe6;*/
    --form-border-color: #0388fc;
    --form-focused-color: #274df5;
    --container-color: #F0F0F0;
    --container-outline-color: #DCDCDC;
}

.dialog-root 
{
    background-color: #DCDCDC;
    height: 100%;
    width: 100%;
}

.image {
    object-fit: cover;;
    height: 100%;
    width: 100%;
}

.thumbnail-expanded {
    height: 100%;
    width: 100%;
}

.thumbnail-fit {
    text-align: center;
}

.tree-button:focus
{
    outline: none;
    border: none;
}

.dialogContent {
    width: 45vw;
    height: 90vw;
    border-radius: 5vw;
    background-color: var(--container-outline-color);
    overflow: hidden;
    overflow-y: hidden;
}

.thumbnail-placeholder 
{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 3px dotted var(--form-focused-color);
  background: white;
  background-image: radial-gradient(var(--form-border-color), 2px, transparent 0);
  background-size: 4vh 4vh;
  background-position: 0vh 0vh;
  color: var(--form-focused-color);
  text-align: center;
  justify-content: center;
  font-size: 3vh;
}

.thumbnail-placeholder:hover
{
  background-image: radial-gradient(var(--form-focused-color), 2px, transparent 0);
}

.dialog-header
{
    color: var(--form-focused-color);
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.thumbnail-container {
    height: 44vh;
    width: 33vh;
    margin-right: 4vh;
    display: flex;
}

.alert
{
    overflow: hidden;
}

.fixed-header
{
    background-color: var(--container-outline-color);
    height: calc(6.5vh + 1.5vw);
    width: 40vw;
    left: 1.5vw;
    position: relative;
    z-index: 2;
    cursor: grab;
}

.container {
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 40vw;
    max-width: 40vw;
    max-height: calc(83.5vh - 5vw);
    overflow-y: auto;
    overflow-x: hidden;
    left: 1.5vw;
}

.container-2{
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 40vw;
    max-width: 40vw;
    height: calc(83.5vh - 5vw);
    max-height: calc(83.5vh - 5vw);
    overflow-y: hidden;
    overflow-x: hidden;
    left: 1.5vw;
}

.container-shrunk {
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 40vw;
    max-width: 40vw;
    max-height: calc(77vh - 5vw);
    overflow-y: auto;
    overflow-x: hidden;
    left: 1.5vw;
}

.entryContainer {
    display: flex;
    margin-bottom: 3.275vh;
}

.fullWidthLeft {
    width: 15.58vw;
    height: 6.5vh;
    font: 'Palatino, serif';
    font-family: 'Palatino, serif';
    font-size: 4.2vh;
    color: var(--form-focused-color) !important;
}

.fullWidthRight {
    width: 24.42vw;
    height: 6.5vh;
    font-family: 'Courier, monospace';
    border: none;
}

.title-container {
    width: calc(40vw - 37vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 10vh;
    font-family: 'Courier, monospace';
    height: 10vh;
    max-height: 44vh;
    border: none;
    color: rgb(49, 152, 170);
    background-color: var(--container-color);
}

/*33vh 2vw*/
.title-required-container
{
    font-size: 3vh;
    width: calc(38vw - 33vh);
}

.title-required {
    text-align: center;
    width: 100%;
    font-size: 10vh;
    font-family: 'Courier, monospace';
    height: 10vh;
    max-height: 33vh;
    border: 4px solid red;
    color: rgb(49, 152, 170);
}

.title-required:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
}

.title:hover {
    border: 5px solid var(--input-focused-background-color);
}

.title:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}

li {
    height: 6.5vh;
    border-radius: 2vh;
    background-color: var(--input-focused-background-color);
}

li:hover {
    border: 3px solid var(--form-focused-color);
}

li > span {
    color: var(--form-focused-color);
    font-size: 4vh;
    height: 100%;
    width: 100%;
    margin-left: 2vw;
}

span 
{
    margin-left: 2px;
}

.input {
    width: 100%;
    height: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    border: 3px solid var(--form-border-color);
    color: var(--form-border-color);
    border-radius: 2vh;
    max-height: 17vh;
    background-color: var(--container-color);
}

/*.dropdown {
    width: 100%;
    height: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    border-color: black;
    color: black;
    border-radius: 2vh;
    max-height: 17vh;
    background-color: black;
}*/

.dropdown {
    border: 3px solid var(--form-border-color);
    width: 100%;
    height: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    color: var(--form-border-color);
    border-radius: 2vh;
    max-height: 17vh;
    background-color: var(--container-color);
}

.dropdown:focus
{
    color: var(--form-focused-color);
    border: 3px solid var(--form-focused-color);
    background-color: var(--input-focused-background-color);
}

.input-data {
    width: 100%;
    height: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    border: 3px solid var(--form-border-color);
    color: var(--form-border-color);
    border-radius: 2vh;
    max-height: 26vh;
    background-color: var(--container-color);
} 

.input-data:focus {
    font-family: 'Courier, monospace';
    font-size: 3vh;
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}

.text-overflow {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.input:focus {
    font-family: 'Courier, monospace';
    font-size: 3vh;
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}


.button {
    color: white;
    background-color: rgb(49, 152, 170);
    border: none;
    padding: 0px 0px 0px 0px;
    text-align: center;
    justify-content: center;
}
.button:hover {
    background-color: var(--form-focused-color);
}

.button:focus
{
    outline: none;
    border: none;
}

input[type="text"]
{
    height: 6.5vh;
    width: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    border: 3px solid var(--form-border-color);
    color: var(--form-border-color);
    background-color: var(--container-color);
    border-radius: 2vh;
    max-height: 17vh;
}

input:focus {
    font-family: 'Courier, monospace';
    font-size: 3vh;
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
    outline: none;
}

svg 
{
    color: var(--form-border-color);
}

textarea:focus
{
    outline: none;

}

button:focus
{
    outline: none;
    border: none;
}

.save-bar
{
    height: 6.5vh;
}