.dialogContent {
    width: max(45vw, 5cm);
    height: max(90vh, 7.5cm);
}

.container {
    padding: 2.5vw 2.5vw 2.5vw 2.5vw;
}

.entryContainer {
    display: flex;
    margin-bottom: 3.275vh;
}

.fullWidthLeft {
    width: 15.58vw;
    height: 6.5vh;
    font: 'Palatino, serif';
    font-family: 'Palatino, serif';
    font-size: 4.2vh;
}

.fullWidthRight {
    width: 24.42vw;
    height: 6.5vh;
    font-family: 'Courier, monospace';
}

.input {
    width: 100%;
    height: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh
}