:root {
    --form-color: rgba(204, 255, 255, 1);
    /*old --form-border-color: rgba(204, 255, 255 0.9);*/
    /*input:focus background-color: rgba(204, 255, 255, 0.9);*/
    --input-focused-background-color: #ccffffe6;
    /*old --form-border-color: #64ffffe6;*/
    --form-border-color: #0388fc;
    --form-focused-color: #274df5;
    --container-color: #F0F0F0;
    --container-outline-color: #DCDCDC;
}

.pointer 
{
    cursor: pointer;
}

.save-position-changes
{
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
}

.tree-positions-container
{
    height: 100%;
    width: 15rem;
    display: flex;
    margin-right: auto;
}

@media only screen and (max-width: 30rem) {
    .tree-positions-container {
      width: 6.5rem;
    }
    .save-position-changes{
        display: none;
    }
}

.dialog-save-button-left
{
    margin-right: 2%;
}

.dialog-save-button
{
    max-height: 100%;
    height: 100%;
    width: 50%;
    font-size: 1.5rem;
}

.dialog-save-container
{
    width: 14rem;
    display: flex;
    max-height: 100%;
    height: 100%;
}

.dialog-save-banner
{
    height: 3rem;
    max-height: 2rem;
    width: 93%;
    position: relative;
    left: 3.5%;
    display: flex;
    background-color: #DCDCDC;
}

.dialog-delete
{
    height: 100%;
    width: 5.5rem;
    /*width: 17.5%;*/
    float: right; 
}

.dialog-delete-skeleton
{
    height: 100%;
    width: 2.2rem;
    /*width: 17.5%;*/
    float: right; 
}

.dialog-header
{
    height: 100%;
    width: 16rem;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.dialog-header-inner
{
  top: 28%;
  position: relative;
  height: 2rem;
  display: flex;
}

.dialog-close-container
{
    width: 2.2rem;
    height: 100%;
}

.dialog-close-button
{
  width: 2rem;
  font-size: 2.2rem;
  cursor: pointer; 
}

.create-container
{
    height: 100%;
    display: flex;
}

.button-container
{
    position: fixed;
    background-color: silver;
    z-index: 100;
    top: 3.2rem;
}

.button-container-inner
{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
}

@media only screen and (max-width: 33.5rem) {
    .button-container-diagram {
      top: 0;
    }
  }

.center-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.dialog-root 
{
    background-color: #DCDCDC;
    height: 100%;
    width: 100%;
}

.image {
    object-fit: cover;;
    height: 100%;
    width: 100%;
}

.thumbnail-expanded {
    height: 100%;
    width: 100%;
}

.thumbnail-fit {
    text-align: center;
}

.tree-button
{
    display: table-cell;
    padding: 0 0 0 0;
    background-color: var(--container-color);
}

.tree-button:focus
{
    outline: none;
    border: none;
}

.dialogContent {
    width: 45vw;
    height: 90vw;
    border-radius: 5vw;
    background-color: var(--container-outline-color);
    overflow: hidden;
    overflow-y: hidden;
}

.dialogContent2 {
    /*height: 90vh; */
    max-height: 86vh;
    background-color: var(--container-outline-color);
    overflow-y: auto;
}

.thumbnail-container-outer
{
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 3/2;
}

.thumbnail-placeholder 
{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 3px dotted var(--form-focused-color);
  background: white;
  background-image: radial-gradient(var(--form-border-color), 2px, transparent 0);
  background-size: 4vh 4vh;
  background-position: 0vh 0vh;
  color: var(--form-focused-color);
  text-align: center;
  justify-content: center;
  /*font-size: 3vh;*/
}

.thumbnail-placeholder:hover
{
  background-image: radial-gradient(var(--form-focused-color), 2px, transparent 0);
}

.dialog-header
{
    color: var(--form-focused-color);
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.thumbnail-container {
    /*
    height: 44vh;
    width: 33vh;
    
    padding-right: 5%; */
    height: 100%;
    display: flex;
}

.alert
{
    overflow: hidden;
}

.fixed-header
{
    background-color: var(--container-outline-color);
    height: calc(2.8% + 2rem);
    width: 93%;
    left: 3.5%;
    position: relative;
    z-index: 2;
    cursor: grab;
}

/*
.container {
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 40vw;
    max-width: 40vw;
    max-height: calc(83.5vh - 5vw);
    overflow-y: auto;
    overflow-x: hidden;
    left: 1.5vw;
}
*/

.container {
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 93%;
    max-width: 93%;
    /*height: 86%;
    max-height: 86%;*/
    height: calc(94.4% - 2rem);
    max-height: calc(94.4% - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
    left: 3.5%;
    position: relative;
}

.menu-button:hover
{
    border: 3px solid var(--form-focused-color);
}

.menu-button:focus
{
    outline: none;
    border: none;
}

.container-2{
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 93%;
    max-width: 93%;
    height: calc(94.4% - 4rem);
   /*height: 78%;*/
    /*max-height: 78%;*/
    max-height: calc(94.4% - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
    left: 3.5%;
    position: relative;
}

.container-shrunk {
    padding: 0 0 0 0;
    background-color: var(--container-color);
    width: 93%;
    max-width: 93%;
    /*height: 86%;
    max-height: 78%;*/
    height: calc(94.4% - 4rem);
    max-height: calc(94.4% - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
    left: 3.5%;
    position: relative;
}

.entryContainer {
    display: flex;
    height: 2.5rem;
    margin-bottom: 1.65rem;
    /*margin-bottom: 3.275vh;*/
    /*
    height: 9.1%;
    margin-bottom: 4.8%;
    */
}

/*
.fullWidthLeft {
    width: 15.58vw;
    height: 6.5vh;
    font: 'Palatino, serif';
    font-family: 'Palatino, serif';
    font-size: 4.2vh;
    color: var(--form-focused-color) !important;
}
*/

.fullWidthLeft {
    overflow-wrap: anywhere;
    width: 45%;
    /*height: 6.5vh;*/
    height: 100%; 
    font: 'Palatino, serif';
    font-family: 'Palatino, serif';
    /*font-size: 4.2vh;*/
    color: var(--form-focused-color) !important;
    /*
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    */
    font-size: 2rem;
}

@media (max-width: 38rem)
{
    .fullWidthLeft
    {
        font-size: 1.4rem;
    }

    .input
    {
        font-size: 1.4rem !important;
    }

    .dropdown
    {
        font-size: 1.4rem !important;
    }

    .title
    {
        font-size: 2.8rem !important;
        height: 3.3rem !important;
    }

    .title-required
    {
        font-size: 2.8rem !important;
        height: 3.3rem !important;
    }
}


@media (max-width: 27rem)
{
    .fullWidthLeft
    {
        font-size: 1rem;
    }

    .input
    {
        font-size: 1rem !important;
    }

    .dropdown
    {
        font-size: 1rem !important;
    }
}
    

.vertical-center
{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.fullWidthRight {
    width: 55%;
    min-width: 55%;
    /*height: 6.5vh;*/
    height: 100% !important;
    font-family: 'Courier, monospace';
    border: none;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandable-title-container
{
    /*margin-left: 4%;*/
}

.title {
    text-align: center;
    width: 100%;
    /*font-size: 10vh;*/
    font-size: 4rem;
    font-family: 'Courier, monospace';
    height: 4.5rem;
    max-height: 100%;
    border: none;
    color: rgb(49, 152, 170);
    background-color: var(--container-color);
}

.title-mobile {
    text-align: center;
    width: 100%;
    font-size: 9vw;
    font-family: 'Courier, monospace';
    height: 9.5vw;
    max-height: 39.6vw;
    border: none;
    color: rgb(49, 152, 170);
    background-color: var(--container-color);
}

.title-required-container
{
    /*font-size: 3vh;*/
    margin-left: 4%;
    width: calc(96% - 14rem);
    color: red;
    text-align: bottom;
    font-size: 1.3rem;
}

 @media (max-width:481px) {
    .title-required-container
    {
        font-size: 12px;
    }
 }

.title-required {
    text-align: center;
    width: 100%;
    font-size: 4rem;
    font-family: 'Courier, monospace';
    height: 4.5rem !important;
    max-height: 44vh;
    border: 4px solid red;
    color: rgb(49, 152, 170);
}

.title-required-mobile {
    text-align: center;
    width: 100%;
    font-size: 9vw;
    font-family: 'Courier, monospace';
    height: 9.5vw;
    max-height: 39.6vw;
    border: 4px solid red;
    color: rgb(49, 152, 170);
}

.title-required:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
}

.title-required-mobile:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
}

.title-mobile:hover {
    border: 5px solid var(--input-focused-background-color);
}

.title-mobile:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}

.title:hover {
    border: 5px solid var(--input-focused-background-color);
}

.title:focus {
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}

li {
    height: 6.5vh;
    border-radius: 2vh;
    background-color: var(--input-focused-background-color);
    color: grey;
}

li:hover {
    border: 3px solid var(--form-focused-color);
}

li > span {
    color: var(--form-focused-color);
    font-size: 4vh;
    height: 100%;
    width: 100%;
    margin-left: 2vw;
}

span.p-placeholder {
    color: grey;
}

span 
{
    margin-left: 2px;
}

.input {
    width: 100%;
    height: 100% !important;
    font-size: 1.8rem;
    font-family: 'Courier, monospace';
    /*font-size: 3vh;*/
    border: 3px solid var(--form-border-color);
    color: var(--form-border-color);
    border-radius: 2vh;
    background-color: var(--container-color);
}

/*.dropdown {
    width: 100%;
    height: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    border-color: black;
    color: black;
    border-radius: 2vh;
    max-height: 17vh;
    background-color: black;
}*/

.dropdown {
    border: 3px solid var(--form-border-color);
    width: 100%;
    height: 100% !important;
    font-family: 'Courier, monospace';
    font-size: 1.8rem;
    color: var(--form-border-color);
    border-radius: 2vh;
    background-color: var(--container-color);
}

.dropdown:focus
{
    color: var(--form-focused-color);
    border: 3px solid var(--form-focused-color);
    background-color: var(--input-focused-background-color);
}

.input-data {
    width: 100%;
    height: 100% !important;
    max-height: 100%;
    font-size: 1.8rem;
    font-family: 'Courier, monospace';
    /*font-size: 3vh;*/
    border: 3px solid var(--form-border-color);
    color: var(--form-border-color);
    border-radius: 2vh;
    max-height: 100%;
    background-color: var(--container-color);
} 

.input-data:focus {
    font-family: 'Courier, monospace';
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}

.text-overflow {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.input:focus {
    font-family: 'Courier, monospace';
    font-size: 1.8rem;
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
}


.button {
    color: white;
    background-color: rgb(49, 152, 170);
    border: none;
    padding: 0px 0px 0px 0px;
    text-align: center;
    justify-content: center;
}

.dialog-delete-button
{
    width: 100%;
    background-color: red;
    height: 100%; 
    max-height: 100%;
    font-size: 1.4rem;
    float: right;
    justify-content: center;
}

.button:hover {
    background-color: var(--form-focused-color);
}

.button:focus
{
    outline: none;
    border: none;
}

input[type="text"]
{
    height: 6.5vh;
    width: 100%;
    font-family: 'Courier, monospace';
    font-size: 3vh;
    border: 3px solid var(--form-border-color);
    color: var(--form-border-color);
    background-color: var(--container-color);
    border-radius: 2vh;
    max-height: 17vh;
}

input:focus {
    font-family: 'Courier, monospace';
    font-size: 3vh;
    background-color: var(--input-focused-background-color);
    color: var(--form-focused-color) !important;
    border-color: var(--form-focused-color);
    outline: none;
}

svg 
{
    color: var(--form-border-color);
}

textarea:focus
{
    outline: none;

}

.empty-tree-message
{
    font-size: 5vh; 
    color: #d68a16;
    position: absolute;
}

.empty-tree-container
{
    position: absolute;
}

.button-root-empty
{   
    padding: 0 0 0 0; 
    background-color: lightGrey;
    color: #d68a16;
    outline: none;
    border: none;
}

.button-root-empty:hover
{
    outline: none;
    border: none;
}

.button-root-empty:focus
{
    outline: none;
    border: none;
}

button:focus
{
    outline: none;
    border: none;
}

.flex-box-leftmost
{
    margin-right: auto;
    display: flex;
    height: 100%;
}

.save-bar
{
    height: 6.5vh;
}